<div class="menu-wrapper">
    <ul class="menu">
        <!-- <li class="" data-menuanchor="welcome"><a href="#welcome"></a></li> -->
        <li class="" data-menuanchor="about-us"><a href="#about-us"><img src="../../../assets/images/icons/couple-of-love-birds-in-love.svg"></a></li>
        <li class="" data-menuanchor="about-us"><a href="#about-us"><img src="../../../assets/images/icons/nest.svg"></a></li>
        <li class="" data-menuanchor="about-us"><a href="#about-us"><img src="../../../assets/images/icons/bird-company.svg"></a></li>
        <!-- <li class="" data-menuanchor="story"><a href="#story">Наша история</a></li>
        <li class="" data-menuanchor="countdown"><a href="#countdown">Таймер</a></li> -->
    </ul>
</div>
