.map-description
  position: absolute
  top: 0
  left: 0
  right: 50%
  bottom: 0
  
  &__background
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    z-index: -10
    // background-image: url(../../../assets/images/restaurant.jpg)
    // background-size: cover
    // background-position: center
    
  &__content-container
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    background: rgba(255,255,255,0.9)

  &__content
    position: absolute
    width: 100%
    left: 50%
    top: 50%
    transform: translate(-50%,-50%)
    color: #000
    text-align: center
    
    .image
      margin-bottom: 10px
      
      img
        height: 80px

    h2
      display: inline-block
      padding: 5px
      margin-bottom: 15px
      font-size: 31px
      text-transform: uppercase
      border-bottom: 1px solid rgba(0, 0, 0, 0.2)
      
      @media (min-width: 1500px)
        font-size: 35px
        
      @media (min-width: 1201px) and (max-width: 1500px)
        font-size: 33px

    p
      font-size: 18px
      
      @media (min-width: 1500px)
        font-size: 21px
        
      @media (min-width: 1201px) and (max-width: 1500px)
        font-size: 20px

  .cafe
    position: absolute
    bottom: 0

    img
      height: 200px
      filter: grayscale(100%);


.sebm-google-map-container
  position: absolute
  top: 0
  left: 50%
  right: 0
  bottom: 0
  height: 100vh