.map-description
  position: absolute
  top: 0
  left: 0
  right: 50%
  bottom: 0

  &__content
    position: absolute
    width: 100%
    left: 50%
    top: 50%
    transform: translate(-50%,-50%)
    color: #000
    text-align: center

    h2
      display: inline-block
      padding: 5px
      margin-bottom: 15px
      font-size: 33px
      text-transform: uppercase
      border-bottom: 1px solid rgba(0, 0, 0, 0.2)

    p
      font-size: 18px

  .cafe
    position: absolute
    bottom: 0

    img
      height: 200px
      filter: grayscale(100%);


.sebm-google-map-container
  position: absolute
  top: 0
  left: 50%
  right: 0
  bottom: 0
  height: 100vh