<!-- <app-header></app-header> -->
<div mnFullpage
  [mnFullpage]="options"
  [mnFullpageNavigation]="true"
  [mnFullpageKeyboardScrolling]="true"
  [mnFullpageSlidesNavigation]="true"
  [mnFullpageControlArrows]="true"
>
  <app-welcome class="section fp-section fp-table" data-anchor="welcome"></app-welcome>
  <app-about-us class="section fp-section fp-table" data-anchor="about-us"></app-about-us>
  <app-story class="section fp-section fp-table" data-anchor="story"></app-story>
  <app-timer class="section fp-section fp-table" data-anchor="countdown"></app-timer>
  <app-map class="section fp-section fp-table" data-anchor="map"></app-map>
</div>
