<section id="story-section">
  <div class="story">
    <!-- <div class="story-title">
      <h2>
        Наша история
      </h2>
    </div> -->
    <div class="story-container">
      <div class="story-block">
        <h3 class="story-block__title">Как мы познакомились</h3>
      </div>
      <div class="story-block story-block-flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
          <div id='flipper-front-1' class="front">
            <div class="img">
              <img src="../../../assets/images/story/1.jpg">
            </div>
          </div>
          <div class="back">
            <div class="back__content">
              В конце сентября 2011 года Лешин друг Антон решил показать ему своих одногруппников. Среди них была фотография Саши. «Это была любовь с первого взгляда.» - до сих пор говорит Леша.<br>
              Мы встретились 6 октября 2011 в 19-00 на станции метро «Парк Челюскинцев». Что мы знали о друг друге? Да ничего, кроме того, что он долго плавал и шатен, а она любит улыбаться и оптимист по жизни.<br>
              Мы три часа гуляли по замерзшему парку и спустя незаметно пройденные 15 километров решили, что «эту встречу надо повторить».
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="story-container">
      <div class="story-block story-block-flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
          <div id='flipper-front-2' class="front">
            <div class="img">
              <img src="../../../assets/images/story/2.jpg">
            </div>
          </div>
          <div class="back">
            <div class="back__content">
              Для нашего первого свидания Леша выбрал необычное место. Он привел Сашу на фотовыставку. Мы два часа смотрели на необычные фотографии и рассуждали на «вечные» темы. Потом мы долго гуляли под проливным осенним дождем и кормили уток. Несмотря на высокую температуру и дикий кашель на следующий день, Леша клянется, что мечтает повторить тот день еще раз
            </div>
          </div>
        </div>
      </div>
      <div class="story-block">
        <h3 class="story-block__title">Наше первое свидание</h3>
      </div>
    </div>
    <div class="story-container">
      <div class="story-block">
        <h3 class="story-block__title">«Рука и сердце»</h3>
      </div>
      <div class="story-block story-block-flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
          <div id='flipper-front-3' class="front">
            <div class="img">
              <img src="../../../assets/images/story/3.jpg">
            </div>
          </div>
          <div class="back">
            <div class="back__content">
              У Саши с Лешей есть одна общая страсть – они безумно любят путешествовать. Поэтому «рука с сердцем» были предложены во время одной из таких вылазок. Мы были в Вильнюсе. Только начиналась осень, город праздновал свою очередную годовщину. На улице стояла атмосфера праздника и веселья. Так вот, есть в Вильнюсе удивительное место – холм «Трех Крестов».  Именно там на фоне фантастического заката Саша сказала «да»!
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


