<section id="timer-section">
  <div class="timer">
    <div class="timer-title">
      <h2>
        Мы ждем Вас через
      </h2>
    </div>
    <div class="timer-block">
      {{weeks}}
      <span>{{week_title}}</span>
    </div>
    <div class="timer-block">
      {{days_diff}}
      <span>{{day_title}}</span>
    </div>
    <div class="timer-block">
      {{hours_diff}}
      <span>{{hour_title}}</span>
    </div>
    <div class="timer-block">
      {{minutes_diff}}
      <span>{{minute_title}}</span>
    </div>
    <div class="timer-block">
      {{seconds_diff}}
      <span>{{second_title}}</span>
    </div>
  </div>
</section>
