video
  position: absolute
  top: 50%
  left: 50%
  min-width: 135%
  min-height: 135%
  width: auto
  height: auto
  z-index: -100
  transform: translateX(-50%) translateY(-50%)
  // background: url('assets/images/background4.jpg') no-repeat
  // background-size: cover
  // background-position: center
  transition: 1s opacity

  @media (min-width: 1500px)
    min-width: 135%
    min-height: 135%

  .loading
    // background: rgba(0,0,0,0.4) url('../../../assets/images/loaders/facebook.svg') center center no-repeat;

.welcome
  position: absolute
  left: 50%
  top: 50%
  transform: translate(-50%,-50%)
  color: #fff
  text-align: center

  .names-container
    display: inline-flex
    align-items: center
    margin-bottom: 20px

    .heart
      margin: 0 10px

    .name
      width: 180px
      padding: 5px 0
      border-top: 1px solid rgba(255, 255, 255, 0.3)
      border-bottom: 1px solid rgba(255, 255, 255, 0.3)

  h1
    font-family: 'Poiret One', cursive
    text-transform: uppercase
    font-size: 55px
    // margin-bottom: 20px
    display: inline-block

  h4
    font-family: 'Lobster', cursive
    margin-bottom: 10px
    font-size: 27px

  h5
    font-family: 'Playfair Display SC', serif
    font-size: 16px
    text-transform: uppercase
    letter-spacing: 0.19em
    margin-bottom: 12px

  h6
    font-size: 14px

.arrow-down
  position: absolute
  bottom: 5px
  left: 50%
  transform: translate(-50%,0)
  color: #fff
  cursor: pointer

  &:before
    font-size: 50px

.bounce
 margin-left:-10px
 animation: bounce 2s infinite
 -webkit-animation: bounce 2s infinite
 -moz-animation: bounce 2s infinite
 -o-animation: bounce 2s infinite

@-webkit-keyframes bounce
  0%, 20%, 50%, 80%, 100%
    -webkit-transform: translateY(0)
  40%
    -webkit-transform: translateY(-20px)
  60%
    -webkit-transform: translateY(-10px)

@-moz-keyframes bounce
  0%, 20%, 50%, 80%, 100%
    -moz-transform: translateY(0)
  40%
    -moz-transform: translateY(-20px)
  60%
    -moz-transform: translateY(-10px)

@-o-keyframes bounce
  0%, 20%, 50%, 80%, 100%
    -o-transform: translateY(0)
  40%
    -o-transform: translateY(-20px)
  60%
    -o-transform: translateY(-10px)

@keyframes bounce
  0%, 20%, 50%, 80%, 100%
    transform: translateY(0)
  40%
    transform: translateY(-20px)
  60%
    transform: translateY(-10px)

.heartbeat
  animation: heartbeat 3.5s infinite
  -webkit-animation: heartbeat 3.5s infinite
  -moz-animation: heartbeat 3.5s infinite
  -o-animation: heartbeat 3.5s infinite

@keyframes heartbeat
  0%
    transform: scale( .85 )

  5%
    transform: scale( 1 )

  10%
    transform: scale( .85 )

  15%
    transform: scale( 1 )

  20%
    transform: scale( .85 )

  100%
    transform: scale( .85 )
