.welcome
  position: absolute
  width: 100%
  left: 50%
  top: 50%
  transform: translate(-50%,-50%)
  color: #fff
  text-align: center

  .heart
    margin: 0 10px

  .name
    width: 150px
    padding: 5px 0
    border-top: 1px solid rgba(255, 255, 255, 0.3)
    border-bottom: 1px solid rgba(255, 255, 255, 0.3)

  h1
    font-family: 'Poiret One', cursive
    text-transform: uppercase
    font-size: 48px
    margin-bottom: 20px
    display: inline-block

  h4
    font-family: 'Lobster', cursive
    margin-bottom: 10px
    font-size: 22px

  h5
    font-family: 'Playfair Display SC', serif
    text-transform: uppercase
    letter-spacing: 0.15em
    margin-bottom: 10px

.arrow-down
  position: absolute
  bottom: 5px
  left: 50%
  transform: translate(-50%,0)
  font-size: 60px
  color: #fff
  cursor: pointer