<section id="welcome-section">
  <video
    id="welcomeMovie"
    playsinline
    autoplay
    data-keepplaying
    muted
    loop
  >
    <source src="assets/video/wedding-540.mp4" type="video/mp4">
  </video>
  <div class="welcome">
    <h4>Cвадьба</h4>
    <div class="names-container">
      <h1 class="name">Саши</h1>
      <h1 class="heart">
        <i class="heartbeat fa fa-heart-o" aria-hidden="true"></i>
      </h1>
      <h1 class="name">Леши</h1>
    </div>

    <h5>Минск</h5>
    <h6>22.07.2017</h6>
	</div>
  <i class="arrow-down ion-ios-arrow-thin-down bounce" (click)="fullpageService.moveSectionDown();"></i>
</section>
