.text
  font-family: 'Poiret One', cursive
  max-width: 200px
  text-align: center
  color: #fff
  font-size: 14px
  text-transform uppercase
  // -webkit-clip-path: polygon(52% 0, 91% 18%, 100% 58%, 78% 85%, 33% 89%, 0 48%, 10% 20%);
  // clip-path: polygon(52% 0, 91% 18%, 100% 58%, 78% 85%, 33% 89%, 0 48%, 10% 20%);

  @media (min-width: 1500px)
    max-width: 300px
    font-size: 19px
    
  @media (min-width: 1201px) and (max-width: 1500px)
    max-width: 290px
    font-size: 18px
    
  @media (min-width: 950px) and (max-width: 1200px)
    max-width: 280px
    font-size: 17px
    
  @media (min-width: 650px) and (max-width: 949px)
    max-width: 240px
    font-size: 16px
  
  @media (min-width: 480px) and (max-width: 649px)
    max-width: 220px
    font-size: 14px
    
  @media (max-width: 479px)
    max-width: 200px
    font-size: 13px
    
  &.groom
    position: absolute
    top: 25%
    right: 27%
    
    @media (min-width: 1500px)
      top: 30%
      right: 26%
      
    @media (min-width: 1201px) and (max-width: 1500px)
      top: 30%
      right: 21%
      
    @media (min-width: 701px) and (max-width: 1200px)
      top: 32%
      right: 15%
      
    @media (min-width: 400px) and (max-width: 700px)
      top: 32%
      right: 10%

  &.bride
    position: absolute
    top: 65%
    left: 10%

    @media (min-width: 1500px)
      top: 64%
      left: 8%
      
    @media (min-width: 1201px) and (max-width: 1500px)
      top: 67%
      left: 7%
      
    @media (min-width: 751px) and (max-width: 1200px)
      top: 70%
      left: 5%
      
    @media (min-width: 450px) and (max-width: 750px)
      top: 70%
      left: 2%

