<section id="about-us-section">
  <div class="about">
    <div class="about-title">
      <div class="about-title__image">
        <!-- <img src="../../../assets/images/icons/love-birds.png"> -->
      </div>
      <h2 [ngClass]="{'loaded': loaded}">
        О нас
      </h2>
    </div>
    <div class="about-container">
      <div class="about-person">
        <img src="assets/images/faces/4.jpg">
        <h3>Жених</h3>
        <p class="about-person__description">
          Любит сладкое, здорово танцует, увлекается фотографией, пишет классные сайты, готовит обалденные пельмени, готов путешествовать 360 дней в году и просто хороший парень
        </p>
      </div><!--
   --><div class="about-person">
        <img src="assets/images/faces/3.jpg">
        <h3>Невеста</h3>
        <p class="about-person__description">
          Любит переживать по пустякам, обожает животных, готова продать душу за «солёненькое», в прошлой жизни определенно была морским котиком, обожает приключения и просто Саша
        </p>
      </div>
    </div>
  </div>
</section>

