.text
  font-family: 'Poiret One', cursive
  max-width: 200px
  text-align: center
  color: #fff
  font-size: 14px
  text-transform uppercase
  // -webkit-clip-path: polygon(52% 0, 91% 18%, 100% 58%, 78% 85%, 33% 89%, 0 48%, 10% 20%);
  // clip-path: polygon(52% 0, 91% 18%, 100% 58%, 78% 85%, 33% 89%, 0 48%, 10% 20%);

  @media (min-width: 1500px)
    max-width: 300px
    font-size: 20px

  &.groom
    position: absolute
    top: 20%
    right: 30%

    @media (min-width: 1500px)
      top: 30%
      right: 20%

  &.bride
    position: absolute
    top: 65%
    left: 10%

    @media (min-width: 1500px)
      top: 70%
      left: 8%

